/* Ensure the container actually allows scrolling
.custom-scroll {
  overflow-y: auto !important;
  /* Firefox */
  /* scrollbar-width: thin !important;
  scrollbar-color: #CCFF00 transparent !important; */


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* 1. Make the background transparent */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* 2. Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #CCFF00 !important; /* Lime with transparency */
  border-radius: 100px !important;
  border: 2px solid transparent !important; /* Creates a 'padding' effect */
  background-clip: content-box !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(204, 255, 0, 0.6) !important;
}


 








@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}


:root {
	--d: 3000ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: transparent;
	--c2: #CCFF00;
}





.box::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 56px;
  background: conic-gradient(
    from var(--angle),
    var(--c2),
    var(--c1) 0.1turn,
    var(--c1) 0.8turn,
    var(--c2) 0.25turn
  );
  animation: borderRotate var(--d) linear infinite;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}


@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}




@media (max-width: 768px) {
  .profile-card {

        border-radius: 50px !important;

  }
}

@media ( min-width : 768px){
  .profile-card {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}